@import "tailwindcss";

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular/Poppins-Regular.eot');
  src: url('/fonts/Poppins-Regular/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Poppins-Regular/Poppins-Regular.woff2') format('woff2'),
      url('/fonts/Poppins-Regular/Poppins-Regular.woff') format('woff'),
      url('/fonts/Poppins-Regular/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/BebasNeue-Regular/BebasNeue-Regular.eot');
  src: url('/fonts/BebasNeue-Regular/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/BebasNeue-Regular/BebasNeue-Regular.woff2') format('woff2'),
      url('/fonts/BebasNeue-Regular/BebasNeue-Regular.woff') format('woff'),
      url('/fonts/BebasNeue-Regular/BebasNeue-Regular.ttf') format('truetype'),
      url('/fonts/BebasNeue-Regular/BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lena';
  src: url('/fonts/Lena/Lena.eot');
  src: url('/fonts/Lena/Lena.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Lena/Lena.woff2') format('woff2'),
      url('/fonts/Lena/Lena.woff') format('woff'),
      url('/fonts/Lena/Lena.ttf') format('truetype'),
      url('/fonts/Lena/Lena.svg#Lena') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Libre Baskerville';
  src: url('/fonts/LibreBaskerville-Regular/LibreBaskerville-Regular.eot');
  src: url('/fonts/LibreBaskerville-Regular/LibreBaskerville-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/LibreBaskerville-Regular/LibreBaskerville-Regular.woff2') format('woff2'),
      url('/fonts/LibreBaskerville-Regular/LibreBaskerville-Regular.woff') format('woff'),
      url('/fonts/LibreBaskerville-Regular/LibreBaskerville-Regular.ttf') format('truetype'),
      url('/fonts/LibreBaskerville-Regular/LibreBaskerville-Regular.svg#LibreBaskerville-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Light/Montserrat-Light.eot');
  src: url('/fonts/Montserrat-Light/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Montserrat-Light/Montserrat-Light.woff2') format('woff2'),
      url('/fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'),
      url('/fonts/Montserrat-Light/Montserrat-Light.ttf') format('truetype'),
      url('/fonts/Montserrat-Light/Montserrat-Light.svg#Montserrat-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-Poppins: Poppins, "sans-serif";
  --font-LibreBaskerville: Libre Baskerville;
  --font-Lena: Lena;
  --font-Montserrat-Light: Montserrat;
  --font-Bebas: Bebas Neue;
}

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  .hero-bg-color {
    @apply bg-gradient-to-b from-white to-gray-300;
  }

  .button-bg-color {
    @apply bg-gradient-to-tl from-emerald-500 to-lime-400;
  }

  .input {
    @apply mt-1 w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500;
  }
}

@layer utilities {
  .container {
    margin: auto;
    padding: 1rem 3rem 1rem;
  }

  .non-container {
    margin: auto;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html,
body {
  height: 100%;
  overflow: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


.perspective-1000 {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.flipped .backface-visibility-hidden {
  backface-visibility: hidden;
}