@import "tailwindcss";

@font-face {
  font-family: "Poppins";
  src: url("../public/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Lena";
  src: url("../public/fonts/Lena.ttf");
}

@font-face {
  font-family: "LibreBaskerville";
  src: url("../public/fonts/LibreBaskerville-Regular.ttf");
}

@font-face {
  font-family: "CaviarDreams";
  src: url("../public/fonts/CaviarDreams.ttf");
}

@font-face {
  font-family: "Ameda";
  src: url("../public/fonts/Ameda.otf");
}

@font-face {
  font-family: "Micksenav";
  src: url("../public/fonts/Micksenav.otf");
}

@font-face {
  font-family: "Antraste";
  src: url("../public/fonts/Antraste.otf");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("../public/fonts/Montserrat-Light.otf");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../public/fonts/Montserrat-SemiBold.woff");
}

@font-face {
  font-family: "Bebas";
  src: url("../public/fonts/Bebas.ttf");
}

:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --font-Poppins: Poppins, "sans-seriff";
  --font-LibreBaskerville: LibreBaskerville, "sans-serif";
  --font-Lena: Lena, "sans-serif";
  --font-CaviarDreams: CaviarDreams;
  --font-Ameda: Ameda;
  --font-Micksenav: Micksenav;
  --font-Antraste: Antraste;
  --font-Montserrat-Light: Montserrat-Light;
  --font-Montserrat-SemiBold: Montserrat-SemiBold;
  --font-Bebas: Bebas;
}

@layer components {
  .hero-bg-color {
    @apply bg-gradient-to-b from-white to-gray-300;
  }

  .button-bg-color {
    @apply bg-gradient-to-tl from-emerald-500 to-lime-400;
  }

  .input {
    @apply mt-1 w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500;
  }
  

}

@utility container {
  margin: auto;
  padding: 1rem 3rem 1rem; 
}

@utility non-container {
  margin: auto;
}

@theme {
  --animate-fade-in: fade-in0.3s ease-out;
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;

    }
  }
}

html, body {
  height: 100%;
  overflow: hidden; 
  scrollbar-width: none;        /* Firefox */
  -ms-overflow-style: none;     /* IE and Edge */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;                /* Chrome, Safari, Opera */
}



